html {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/331ab1e4-cbbd-42a8-ad03-1b22f04c7ebb/d5lq6vr-5b72d498-c7c6-4cdf-8f70-c23124a6e68e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzMxYWIxZTQtY2JiZC00MmE4LWFkMDMtMWIyMmYwNGM3ZWJiXC9kNWxxNnZyLTViNzJkNDk4LWM3YzYtNGNkZi04ZjcwLWMyMzEyNGE2ZTY4ZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.9TEx1hT7HbAvZZ3SpAnvIpdpvite8a757QOTB6c1T1g) no-repeat  center center fixed;
  background-size: 1545px;
}
::-webkit-scrollbar{
  background: transparent;
}
section {
  overflow: auto;
  display: inline-block;
  width: 300px;
  height: 500px;
  padding: 1em;
  border-radius: 15px;  
  margin: 75px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f144fa15-4001-4f05-83d9-73ad837f6bc4/d4wcj31-53a8338d-c2b1-4a00-ad15-aaa314cb9f6b.png);
  text-align: center;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

section {  
  animation-name: floatCard;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatCard {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

section:hover {
  box-shadow: 0 10px 20px 0 rgb(255, 219, 60);
}

img {
  max-width: 300px;
  margin: auto;
  justify-content: center;
  display: inline-block;
}

/* body {
  position: fixed;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 51, 0);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 250px;
  text-align: center;
}

img {
  width: 250px;
  height: 157.5px;
  align-items: center;
}

section:hover {
  box-shadow: 0 10px 20px 0 rgb(255, 219, 60);
}
  
section {
  padding: 2px 16px;
} */